# Employee Sentiment Analysis
Final LLM Assessment

In [3]:
import pandas as pd
from textblob import TextBlob
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = pd.read_excel('../data/test.xlsx')
df.rename(columns={'from':'EmployeeID','body':'Message','date':'Date'}, inplace=True)
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Subject,Message,Date,EmployeeID
0,EnronOptions Update!,EnronOptions Announcement\n\n\nWe have updated...,2010-05-10,sally.beck@enron.com
1,(No Subject),"Marc,\n\nUnfortunately, today is not going to ...",2010-07-29,eric.bass@enron.com
2,Phone Screen Interview - Shannon L. Burnham,"When: Wednesday, June 06, 2001 10:00 AM-11:00 ...",2011-07-25,sally.beck@enron.com
3,RE: My new work email,we were thinking papasitos (we can meet somewh...,2010-03-25,johnny.palmer@enron.com
4,Bet,Since you never gave me the $20 for the last t...,2011-05-21,lydia.delgado@enron.com

## Sentiment Labeling

In [4]:
def label_sentiment(text):
    polarity = TextBlob(str(text)).sentiment.polarity
    if polarity > 0:
        return 'Positive'
    elif polarity < 0:
        return 'Negative'
    else:
        return 'Neutral'

df['Sentiment'] = df['Message'].apply(label_sentiment)
df['Sentiment'].value_counts()

Sentiment
Positive    1218
Neutral      703
Negative     270
Name: count, dtype: int64